.card .title:first-of-type{
    font-size: 30px;
    font-weight: 700;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/**

flex-shrink
flex-grow
flex-basis
flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 1;
**/
.order1{
    order:1
}
.order2{
    order:2
}
.order3{
    order:3
}
.card{
    flex: 1 1 250px;
    border: 1px solid #999999a3;
    box-shadow: 2px 2px 10px #33333369;
    background-color: #f1f1f1;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card img{
    width: 100%;
}
.card footer{
    display: flex;
}
.card footer .button:first-child{
    margin-right: auto;
}